<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frid.fridapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    <!-- biBi的权限~ -->
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <!-- 数据库需要权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- bugly配置权限start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- bugly配置权限end -->

    <application
        android:name="com.frid.data.FridApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.frid.ui.Welcome"
            android:label="@string/app_name"
            android:theme="@style/Hot" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frid.ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Hot" >
        </activity>
        <activity
            android:name="com.frid.ui.Main"
            android:label="@string/app_name"
            android:theme="@style/Hot" >
        </activity>
        <activity
            android:name="com.frid.ui.Check"
            android:label="@string/app_name"
            android:theme="@style/Hot" >
        </activity>
        <activity
            android:name="com.frid.ui.Box"
            android:label="@string/app_name"
            android:theme="@style/Hot" >
        </activity>
        <activity
            android:name="com.frid.ui.TransferInfo"
            android:label="@string/app_name"
            android:theme="@style/Hot" >
        </activity>
        <activity
            android:name="com.frid.ui.TransferList"
            android:label="@string/app_name"
            android:theme="@style/Hot" >
        </activity>

        <!-- 轮询服务 -->
        <service android:name="com.polling.PollingService" >
        </service>
    </application>

</manifest>